<div class="container text-center">
		<h2>Products</h2>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/350x150">
				<h2>Jugnu</h2>
				<h4>Transfer data at speed of light</h4>
				<p>Jugnu is the next generation of smart LED bulbs that can transfer data through visible light. We are implementing the Li-Fi technology in our new range of LED bulbs. It refers to the wireless communication system which uses light as a medium of transport instead of traditional radio frequencies. Although the use of light in order to transmit data can be limited in comparison to radio waves, there is a great amount of possibilities that can be developed with the proper use of this technology.</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/350x150">
				<h2>Vehicle Tracking System</h2>
				<h4>Track your Vehicle Real Time</h4>
				<p>Our team has designed a VTS device which can be fit in vehicles and can be tracked on a web server. The prototype of the device is ready. This device takes data from the GPS and sends it to the server through a GPRS system. At the server end, you can track your device on Google Maps in real time. You can also check all the device activities (ignition status, speed, and distance travelled) within a day, week, or month. The device locations can also be tracked using Short Message Service (SMS) in real time.</p>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/350x150">
				<h2>Home Automation</h2>
				<h4>A Smarter Home</h4>
				<p>What kind of features would you like to have in your future home? A fan that runs with an app on android. A garage door which opens automatically when you reach home. Lighting system working on your directions with the mobile app. Yes, this is what you will be able to achieve with our new product.</p>

				<p>The present features of our product are:
					<ul>
						<li>Control your devices through Smart App available on android.</li>
						<li>Dim/intensify your lights according to the need.</li>
						<li>Control the speed of your ceiling fan.</li>
						<li>Set up alarm for your devices.</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<img src="http://placehold.it/350x150">
				<h2>Traffic Down-Counter</h2>
				<p>raffic Down-Counter is a device located above the traffic lights to countdown the remaining seconds for red, green and amber lights. These traffic down-counters play a major role in a populous country like India where every working class individual needs to keep a tab on time. They also help save enormous amount of fuel by giving the driver a chance to switch off the vehicle during the significant time of the countdown. 
				Our team has redesigned it and installed more than 500 such down-counters in New Delhi in past 6 months. We have also installed traffic down-counters in Srinagar and Jammu.</p>
			</div>
			<div class="col-md-4"></div>
			
		</div>
	</div>