<!DOCTYPE>
<html ng-app="velmenniApp">
<head>
    <title>Velmenni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- VideoJs Stylesheet -->
    <link rel="stylesheet" type="text/css" href="bower_components/video.js/dist/video-js.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" />
    
    

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <base href="/"></base>

</head>
<body style="position: relative;" data-target="#navbar" data-spy="scroll">
<nav class="navbar navbar-default navbar-fixed-top navbar-line" id="navbar" >
    <div class="container-fluid">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Velmenni</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="toggle-navbar">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Home</a></li>
                <li class=""><a ui-sref="products">Products</a></li>
                <li class=""><a ui-sref="team">Team</a></li>
                <li class=""><a ui-sref="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view>
    
</div>



<footer>
    <div class="container text-center" >
        <hr/>
        <h2>Velmenni</h2>
        <div class="row">
            <div class="col-md-4">
                <h4>Site Map</h4>
                <a href="/"><p>Home</p></a>
                <a ui-sref="products"><p>Products</p></a>
                <a ui-sref="team"><p>Team</p></a>
                <a ui-sref="contact"><p>Contact</p></a>                
            </div>
             <div class="col-md-4 footer-social-media">
                <h4>Keep Connected</h4>
                <a href=""><span class="fa fa-twitter-square"></span></a>
                <a href=""><span class="fa fa-facebook-square"></span></a>
                <a href=""><span class="fa fa-youtube-square"></span></a>
                <a href=""><span class="fa fa-linkedin"></span></a>
                <a href=""><span class="fa fa-google-plus-square"></span></a>
            </div>
            <div class="col-md-4">
                <h4>Our Office</h4>
                <p><span class="glyphicon glyphicon-phone-alt"></span> +375-590-130-05</p>
                <iframe width="100%" height="auto" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_2Pba-rjDDkRRlLxw07bao8&key=AIzaSyA8qDKxJEeveywtfafYixB2JwEzVx1-9nY" allowfullscreen></iframe>
            </div>
            
           
        </div>
        <hr/>
        <div class="row text-center"> 
            <div class="col-md-12">
                <sub>All Right Reserved | Patent Pending</sub>
            </div>
        </div>
        <br/>
    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/video.js/dist/video.min.js"></script>
    <script type="text/javascript" src="bower_components/videojs-youtube/dist/Youtube.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</footer>



</body>
</html>