<div class="container text-center">
		<h2>Products</h2>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/150x150"  data-toggle="modal" data-target="#project1" class="product-img">
				<h2>Jugnu</h2>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/150x150" data-toggle="modal" data-target="#project2" class="product-img">
				<h2>Vehicle Tracking System</h2>
			</div>
			<div class="col-md-4">
				<img src="http://placehold.it/150x150" data-toggle="modal" data-target="#project3" class="product-img">
				<h2>Home Automation</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/150x150" data-toggle="modal" data-target="#project4" class="product-img">
				<h2>Traffic Down-Counter</h2>
			</div>
			<div class="col-md-4"></div>
			
			<div class="col-md-4"></div>
			
		</div>
</div>


<!-- Modal Data-->
<div class="modal fade text-center" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Jugnu</h4>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/n8kuDFIUdkQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

        <h4>Transfer data at speed of light</h4>
        <p>Velmenni Jugnu is the next generation of smart LED bulbs that can transfer data through visible light. We are implementing the Li-Fi technology in our new range of LED bulbs. It refers to the wireless communication system which uses light as a medium of transport instead of traditional radio frequencies. Although the use of light in order to transmit data can be limited in comparison to radio waves, there is a great amount of possibilities that can be developed with the proper use of this technology. 
        This project has always been a dream project of our team. We have researched in the past and also developed a basic prototype to demonstrate Visible Light Communication. We transferred serial data synchronously from a PC/Laptop screen to a micro-controller board using visible light. A GUI was developed in MATLAB and a receiver circuit was made using Arduino and photodiodes. We successfully transferred a text file using this method. We only had to keep your micro-control board in front of the laptop screen (GUI) and the data was transferred wirelessly using visible light communication. 
        Now, we are on our way to implement this unique technology in our Smart LED bulb which can transfer data to other bulbs, mobile phones, and internet. We are also working on an android app which would receive data from Jugnu, The Smart LED bulb and would also transmit it back to the app.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-center" id="project2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Vehicle Tracking System</h4>
      </div>
      <div class="modal-body">
        <p>Our team has designed a VTS device which can be fit in vehicles and can be tracked on a web server. The prototype of the device is ready. This device takes data from the GPS and sends it to the server through a GPRS system. At the server end, you can track your device on Google Maps in real time. You can also check all the device activities (ignition status, speed, and distance travelled) within a day, week, or month. The device locations can also be tracked using Short Message Service (SMS) in real time.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-center" id="project3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Home Automation</h4>
      </div>
      <div class="modal-body">
        <p>What kind of features would you like to have in your future home? A fan that runs with an app on android. A garage door which opens automatically when you reach home. Lighting system working on your directions with the mobile app. Yes, this is what you will be able to achieve with our new product.

        The present features of our product are:
        <ul>
          <li>Control your devices through Smart App available on android.</li>
          <li>Dim/intensify your lights according to the need.</li>
          <li>Control the speed of your ceiling fan.</li>
          <li>Set up alarm for your devices.</li>
        </ul>
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade text-center" id="project4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Traffic Down-Counter</h4>
      </div>
      <div class="modal-body">
        <p>Traffic Down-Counter is a device located above the traffic lights to countdown the remaining seconds for red, green and amber lights. These traffic down-counters play a major role in a populous country like India where every working class individual needs to keep a tab on time. They also help save enormous amount of fuel by giving the driver a chance to switch off the vehicle during the significant time of the countdown. 

        Our team has redesigned it and installed more than 500 such down-counters in New Delhi in past 6 months. We have also installed traffic down-counters in Srinagar and Jammu.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>