<div id="mainVideo" class="container-fluid text-center main-body" >				
	<!-- <video id="video-main" data-setup="{}" class="video-js" controls preload="auto" >
		<source src="assets/video/test.mp4" type="video/mp4">
	</video> -->
	<!-- <iframe width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe> -->
	<video
    id="vid1"
    class="video-js vjs-default-skin"
    controls
    width="100%" height="480"
    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/embed/n8kuDFIUdkQ"}] }'
  >
  </video>

</div>
<div id="dummyVideo" class="hidden"></div>

<div class="container share-this">
	<!-- <h4 style="padding-bottom: 1%">Share this on</h4> -->
	<div class="row" >
		<div class="col-md-6">
			<a id="fb" href="#"><span class="fa fa-facebook-square"></span></a>
			<a href="https://twitter.com/intent/tweet?text=Check%20Out&url=https://youtu.be/9QAzEKVsjMQ" target="_blank"><span class="fa fa-twitter-square"></a>
			<!-- <a href=""><img src="assets/images/social-icons/utube.png"></a> -->
			<a href="https://www.linkedin.com/cws/share?url=https://youtu.be/9QAzEKVsjMQ" target="_blank"><span class="fa fa-linkedin"></span></a>
			
		</div>
		<div class="col-md-6 text-right">
			<p class="video-counter">{{100000 | number}}</p>
			<p class="total-views">Total Views</p>
		</div>
	</div>
</div>
<hr/>
<div class="container">
	<!-- <h1>There are a few things that we all need: fresh air, water, food, shelter, love ... and a safe place to pee. For trans people who don't fit neatly into the gender binary, public restrooms are a major source of anxiety and the place where they are most likely to be questioned or harassed. In this poetically rhythmic talk, Ivan Coyote grapples with complex and intensely personal issues of gender identity and highlights the need for gender-neutral bathrooms in all public places.</h1>
	<h1>There are a few things that we all need: fresh air, water, food, shelter, love ... and a safe place to pee. For trans people who don't fit neatly into the gender binary, public restrooms are a major source of anxiety and the place where they are most likely to be questioned or harassed. In this poetically rhythmic talk, Ivan Coyote grapples with complex and intensely personal issues of gender identity and highlights the need for gender-neutral bathrooms in all public places.</h1>
	<h1>There are a few things that we all need: fresh air, water, food, shelter, love ... and a safe place to pee. For trans people who don't fit neatly into the gender binary, public restrooms are a major source of anxiety and the place where they are most likely to be questioned or harassed. In this poetically rhythmic talk, Ivan Coyote grapples with complex and intensely personal issues of gender identity and highlights the need for gender-neutral bathrooms in all public places.</h1> -->
	<h2>What is loren Ipsum</h2>
	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sodales dolor ut vestibulum feugiat. Maecenas maximus lorem id leo porta, a lobortis augue fermentum. Nullam laoreet est quam. Aenean et enim at nulla gravida bibendum. Donec nec rhoncus felis. Praesent bibendum aliquam arcu sit amet tincidunt. Sed commodo nunc a lorem pulvinar porttitor. Nulla imperdiet aliquam vestibulum. Etiam nec vestibulum ligula.

Cras consequat lacus ac tristique mollis. Donec porta pulvinar ex, a viverra nisl sagittis non. Donec tincidunt dignissim luctus. Nulla in auctor ex. Donec cursus ante justo, efficitur dapibus massa consectetur finibus. Vivamus vel consequat mi. Quisque egestas erat et nulla gravida fringilla.

Fusce vel tortor id nisl sollicitudin molestie. Etiam et sem quis nibh consequat lobortis. Nulla malesuada cursus congue. Quisque eget libero dolor. Pellentesque cursus augue urna, vel gravida ligula auctor in. Aliquam semper metus nisi, in vulputate nisl mollis in. Vestibulum quis nibh nec eros convallis ullamcorper nec elementum mi. Donec ullamcorper imperdiet suscipit. Quisque sit amet dui ligula. Pellentesque vulputate lectus sit amet nisi viverra, ac consequat magna sollicitudin. Nullam et mauris tempor, luctus ex sed, interdum velit. Donec eget orci metus. Vestibulum ultricies aliquet pellentesque. Aenean eget dignissim ipsum. Nam suscipit orci turpis. Morbi lorem orci, varius at convallis in, vestibulum non sapien.

Nam finibus libero vitae mauris varius finibus. Mauris quis pretium sapien. Nunc pulvinar blandit enim in luctus. Duis vehicula eros et urna efficitur, at elementum magna dapibus. Proin in massa a arcu varius cursus. Cras gravida varius sollicitudin. Maecenas bibendum sapien et mi dictum vestibulum. Etiam rhoncus, massa id lobortis aliquet, augue tellus tristique massa, et imperdiet sapien magna quis quam.</h4>
<br/>
<hr/>
<h2 class="text-center">The Media Loves Us</h2>
<br>
<div class="owl-carousel owl-theme center owl-height">
  <div class="owl-item-height"><img src="assets/images/media/IBT.png" class="img-responsive"></div>
  <div class="owl-item-height"><img src="assets/images/media/mashable.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/sciencealert.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/thetelegraph.jpg" ></div>
  <div class="owl-item-height"><img src="assets/images/media/bbc.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/thp.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/dailymail.jpg" ></div>
  <div class="owl-item-height"><img src="assets/images/media/chip.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/ys.png"></div>
  <div class="owl-item-height"><img src="assets/images/media/tc.png" ></div>
</div>

</div>
<script type="text/javascript">
		// var video = videojs('#video-main');
		
		$(window).scroll(function() {    
			var scroll = $(window).scrollTop();	
			var width = $('#mainVideo').width();
			var height = 480;
	     	if (scroll >= 500 && document.getElementById('mainVideo') != null && width > 500 ) {
	        	$('.video-js').addClass("navbar-video");
	        	$('.navbar-brand').addClass("hidden");
	        	$('.navbar').addClass("navbar-resize");
	        	$('.vjs-big-play-button').addClass("navbar-video-button");
	        	$('#navbar').removeClass('navbar-line');
	        	$("#dummyVideo").removeClass("hidden");
	        	$("#dummyVideo").css({"width":width, "height": height});
	    	} else {
	    		$('.video-js').removeClass("navbar-video");
	        	$('.navbar-brand').removeClass("hidden");
	        	$('.navbar').removeClass("navbar-resize");
	        	$('.vjs-big-play-button').removeClass("navbar-video-button");
	        	$('#navbar').addClass('navbar-line');
	        	$("#dummyVideo").addClass("hidden");
	    	}
		});

		$("#fb").on("click",function(){
    		var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u=https://youtu.be/9QAzEKVsjMQ", "pop", "width=600, height=400, scrollbars=no");
    	return false;
		});	

		
		$('.owl-carousel').owlCarousel({

			stagePadding:5,
			margin:3,
			items:3,
		});
		

	</script>