<div id="mainVideo" class="container-fluid text-center main-body" >				
	<!-- <video id="video-main" data-setup="{}" class="video-js" controls preload="auto" >
		<source src="assets/video/test.mp4" type="video/mp4">
	</video> -->
	<!-- <iframe width="100%" height="480" src="" frameborder="0" allowfullscreen></iframe> -->
	<video
    id="vid1"
    class="video-js vjs-default-skin"
    controls
    width="100%" height="480"
    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/embed/n8kuDFIUdkQ"}] }'
  >
  </video>

</div>
<div id="dummyVideo" class="hidden"></div>

<div class="container share-this">
	<!-- <h4 style="padding-bottom: 1%">Share this on</h4> -->
	<div class="row" >
		<div class="col-md-6">
			<a id="fb" href="#"><span class="fa fa-facebook-square"></span></a>
			<a href="https://twitter.com/intent/tweet?text=Check%20Out&url=https://youtu.be/9QAzEKVsjMQ" target="_blank"><span class="fa fa-twitter-square"></a>
			<!-- <a href=""><img src="assets/images/social-icons/utube.png"></a> -->
			<a href="https://www.linkedin.com/cws/share?url=https://youtu.be/9QAzEKVsjMQ" target="_blank"><span class="fa fa-linkedin"></span></a>
			
		</div>
		<div class="col-md-6 text-right">
			<p class="video-counter">{{100000 | number}}</p>
			<p class="total-views">Total Views</p>
		</div>
	</div>
</div>
<hr/>
<div class="container">
	<!-- <h1>There are a few things that we all need: fresh air, water, food, shelter, love ... and a safe place to pee. For trans people who don't fit neatly into the gender binary, public restrooms are a major source of anxiety and the place where they are most likely to be questioned or harassed. In this poetically rhythmic talk, Ivan Coyote grapples with complex and intensely personal issues of gender identity and highlights the need for gender-neutral bathrooms in all public places.</h1>
	<h1>There are a few things that we all need: fresh air, water, food, shelter, love ... and a safe place to pee. For trans people who don't fit neatly into the gender binary, public restrooms are a major source of anxiety and the place where they are most likely to be questioned or harassed. In this poetically rhythmic talk, Ivan Coyote grapples with complex and intensely personal issues of gender identity and highlights the need for gender-neutral bathrooms in all public places.</h1>
	<h1>There are a few things that we all need: fresh air, water, food, shelter, love ... and a safe place to pee. For trans people who don't fit neatly into the gender binary, public restrooms are a major source of anxiety and the place where they are most likely to be questioned or harassed. In this poetically rhythmic talk, Ivan Coyote grapples with complex and intensely personal issues of gender identity and highlights the need for gender-neutral bathrooms in all public places.</h1> -->
	<h2>What is Visible Light Communication?</h2>
	<h4>Ever Wondered the flash light of your mobile can be used to transmit the data from your mobile phone to the different sources and vice versa. Imagine having a light source that not only provides light but also networking capabilitiy at astonishing speeds.</h4>
	<h4></h4>
<br/>
<hr/>
<h2 class="text-center">The Media Loves Us</h2>
<br>
<!-- <div class="owl-carousel owl-theme center owl-height">
  <div class="owl-item-height"><img src="assets/images/media/IBT.png" class="img-responsive"></div>
  <div class="owl-item-height"><img src="assets/images/media/mashable.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/sciencealert.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/thetelegraph.jpg" ></div>
  <div class="owl-item-height"><img src="assets/images/media/bbc.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/thp.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/dailymail.jpg" ></div>
  <div class="owl-item-height"><img src="assets/images/media/chip.png" ></div>
  <div class="owl-item-height"><img src="assets/images/media/ys.png"></div>
  <div class="owl-item-height"><img src="assets/images/media/tc.png" ></div>
</div> -->

<div class="container media">
	<div class="row">
		<div class="col-md-3">
			<img src="assets/images/media/IBT.png" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="assets/images/media/mashable.png" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="assets/images/media/sciencealert.png" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="assets/images/media/thetelegraph.jpg" class="img-responsive">
		</div>
	</div>
 	
  	<div class="row">
  		<div class="col-md-3">
			<img src="assets/images/media/thp.png" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="assets/images/media/tc.png" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="assets/images/media/ys.png" class="img-responsive">
		</div>
		<div class="col-md-3">
			<img src="assets/images/media/chip.png" class="img-responsive">
		</div>
  	</div>

</div>

</div>
<script type="text/javascript">
		// var video = videojs('#video-main');
		
		$(window).scroll(function() {    
			var scroll = $(window).scrollTop();	
			var width = $('#mainVideo').width();
			var height = 480;
	     	if (scroll >= 500 && document.getElementById('mainVideo') != null && width > 500 ) {
	        	$('.video-js').addClass("navbar-video");
	        	$('.navbar-brand').addClass("hidden");
	        	$('.navbar').addClass("navbar-resize");
	        	$('.vjs-big-play-button').addClass("navbar-video-button");
	        	$('#navbar').removeClass('navbar-line');
	        	$("#dummyVideo").removeClass("hidden");
	        	$("#dummyVideo").css({"width":width, "height": height});
	    	} else {
	    		$('.video-js').removeClass("navbar-video");
	        	$('.navbar-brand').removeClass("hidden");
	        	$('.navbar').removeClass("navbar-resize");
	        	$('.vjs-big-play-button').removeClass("navbar-video-button");
	        	$('#navbar').addClass('navbar-line');
	        	$("#dummyVideo").addClass("hidden");
	    	}
		});

		$("#fb").on("click",function(){
    		var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u=https://youtu.be/9QAzEKVsjMQ", "pop", "width=600, height=400, scrollbars=no");
    	return false;
		});	

		
		// $('.owl-carousel').owlCarousel({

		// 	stagePadding:5,
		// 	margin:3,
		// 	items:3,
		// });

		$(".slider").slick() 
		

	</script>